<template>
  <v-container>
     <h1>No.7</h1>
    <v-text-field v-model="input" label="Input" type="number"></v-text-field>
    <v-btn color="success" @click="func()">
      OK
    </v-btn>
  </v-container>
</template>
<script>
export default {
  data () {
    return {
      input: ''
    }
  },
  methods: {
    func () {
      var money = 1000 - this.input
      if (money > 500) {
        console.log(money)
      }else if (money > 100) {
        console.log(money)
      }
    }
  }
}
</script>
