<template>
  <v-container>
    <h1>No.2</h1>
    <v-text-field v-model="name1" label="name1"></v-text-field>
    <v-text-field v-model="name2" label="name2"></v-text-field>
    <v-btn color="success" @click="compare()">
      OK
    </v-btn>
  </v-container>
</template>
<script>
export default {
  data () {
    return {
      name1: '',
      name2: ''
    }
  },
  methods: {
    compare () {
      var name1 = this.name1.toLowerCase()
      var name2 = this.name2.toLowerCase()
      if (name1 === name2) {
        if (name1.length === name2.length) {
          console.log('result: true')
        }
      } else {
        console.log('result: false')
      }
    }
  }
}
</script>
