<template>
  <v-container>
        <h1>No.4</h1>
    <v-text-field v-model="input" label="Input" type="number"></v-text-field>
    <v-btn color="success" @click="func()">
      OK
    </v-btn>
  </v-container>
</template>
<script>
export default {
  data () {
    return {
      input: ''
    }
  },
  methods: {
    func () {
      const n = this.input
      for (var i = 0; i < n; i++) {
        console.log('*')
      }
    }
  }
}
</script>
