<template>
  <v-container>
        <h1>No.6</h1>
    <v-text-field v-model="number" label="Number" type="number"></v-text-field>
    <v-btn color="success" @click="func()">
      OK
    </v-btn>
  </v-container>
</template>
<script>
export default {
  data () {
    return {
      number: ''
    }
  },
  methods: {
    func () {
      console.log(this.number)
    }
  }
}
</script>
