<template>
  <v-app>
    <v-app-bar app color="teal" dark>
      <div class="d-flex align-center">
        <v-toolbar-title>Collapsing Bar</v-toolbar-title>
      </div>
      <v-spacer></v-spacer>
      <v-toolbar-items> <v-btn text to="/no2">ข้อ 2</v-btn></v-toolbar-items>
      <v-toolbar-items> <v-btn text to="/no4">ข้อ 4</v-btn></v-toolbar-items>
      <v-toolbar-items> <v-btn text to="/no6">ข้อ 6</v-btn></v-toolbar-items>
      <v-toolbar-items> <v-btn text to="/no7">ข้อ 7</v-btn></v-toolbar-items>
    </v-app-bar>

    <v-main>
      <v-container fluid>
        <transition name="fade" mode="out-in">
          <router-view />
        </transition>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: 'App',

  components: {},

  data: () => ({
    //
  })
}
</script>
<style lang="scss">
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap%27');
$body-font-family: 'Kanit';
$title-font: 'Kanit';
.v-application {
  font-family: $body-font-family, sans-serif !important;
  .title {
    // To pin point specific classes of some components
    font-family: $title-font, sans-serif !important;
  }
  .headline {
    font-family: $title-font, sans-serif !important;
    font-size: 50px !important;
  }
  .display-2 {
    font-family: $title-font, sans-serif !important;
  }
}
body {
  font-family: $body-font-family, sans-serif !important;
}
</style>
